body {
  font-family: "Shadows Into Light", regular;
}
a {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

section {
  padding: 95px 0;
}

.bg-light {
  color: black;
  background-color: #fff;
}

.bg-dark {
  background-color: #262626;
  color: white;
}

.bg-img {
  background-image: url(../img/why.png);
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  max-width: 1366px;
  height: 60px;
  background-color: #000000;
  padding: 0 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 205px;
  height: 105px;
  
  & svg {
    position: absolute;
    left: 0;
  }
}

.logo_text {
  position: relative;
  z-index: 5;
  left: 0;
  text-decoration: none;
  color: #fff;
  font-family: "Shadows Into Light";
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
  }
}
nav {
  position: relative;
}
.nav {
  text-decoration: none;
  color: #fff;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  height: 60px;
  & li {
    margin-right: 35px;
    height: 60px;

    & a {
      height: 60px;
      display: flex;
      align-items: center;
      color: #a4a4a4;
      font-family: "Shadows Into Light", cursive;
      position: relative;
      text-decoration: none;
      
      &:hover {
        color: white;
        text-decoration: none;
        &:after, &:before {
          width: 60%;
        }
      }
      
      &:after, &:before {
        display: block;
        content: "";
        background-color: #ff0036;
        height: 3px;
        width: 0%;
        left: 50%;
        position: absolute;
        transition: width .3s ease-in-out;
        transform: translateX(-50%);
      }
      &:after {
        bottom: 0;
      }
      &:before {
        top: 0
      
      }
      
      
    }
  }
  
}

.toggle-menu {
  margin: 0;
  width: 60px;
  text-align: center;
  box-sizing: border-box;
  background-color: transparent;
  padding: 5px;
  color: white;
  border: none;
  display: none;
  & i {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
  }
  &:active {
    background-color: #262626;
  }
}




.main-block {
  width: 100%;
  height: 630px;
  background-image: url(../img/why.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shadows Into Light", cursive;
  color: white;
}

.main-block__title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 40%;
}
.main-block__title h1 {
  font-size: 50px;
  letter-spacing: 2px;
}
.text_red {
  color: #ff0036;
}

.main-block__title p {
  margin-top: -20px;
}

.btn_features {
  display: block;
  width: 150px;
  height: 55px;
  border: 2px solid #131313;
  background-color: #131313;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}

.btn_features:hover {
  border: 2px solid #ff0036;
  background-color: #ff0036;
  color: white;
  text-decoration: none;
}

.about_block {
  width: 100%;
  height: 1000px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Shadows Into Light", regular;
  
  
}

.block_title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 90px;
  & p {
    max-width: 945px;
    text-align: center;
  }& h1 {
    width: 100%;
    text-align: center;
  }
}

.about_subblock {
  width: 85%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
.about_sub_one {
  //border: 1px solid red;
}

.about_sub_one > div {
  border: 1px solid #e7e7e7;
}

.dropdown_block {
  margin-bottom: 10px;
  width: 90%;
}

.dropdown {
  background: #f7f7f7;
  padding-bottom: 7px;
  padding-left: 5px;
  padding-top: 7px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
i {
  display: block;
  width: 6%;
  height: 100%;
  margin-left: 2%;
}

.dropdown > a {
  display: block;
  width: 90%;
  text-decoration: none !important;
  text-transform: uppercase;
  color: black;
  font-size: 18px;
}

.dropdown:hover,
.dropdown > a:hover {
  color: #ff0036;
}

.dropdown_text {
  background-color: white;
}

.about_sub_two {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  //border: 3px solid green;
}

.about_img_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  justify-content: center;
  align-items: center;
  //border: 7px solid pink;
  width: 100%;
  height: 100%;
}
.about_img_block > img {
  display: block;
  width: 230px;
  position: relative;
}

.about_img_block > div {
  position: relative;
  //width: 100%;
  //height: 100px;
  display: flex;
  justify-content: center;
}

.about_img_block > div > img {
  width: 150%;
}

.img_left {
  z-index: 1;
  left: 70%;

  filter: brightness(40%);
}

.img_right {
  z-index: 1;
  right: 70%;
  filter: brightness(40%);
}

.img_activ {
  z-index: 2;
  
}

.line {
  height: 1px;
  width: 60%;
  background-color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about_sub3 {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
}

.about_sub3 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
}

.about_sub3 > div > img {
  margin-bottom: 10px;
}

.about_sub3 > div > h3 {
  text-transform: uppercase;
}

.protfolio_block {
  width: 100%;
  height: auto;
  background-color: #262626;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: "Shadows Into Light", regular;
}

.protfolio_title {
  width: 95%;
  height: auto;
  //border: 2px solid pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.sort {
  text-decoration: none;
  color: #fff;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  text-transform: uppercase;
}

.sort > li:hover,
.sort > li > a:hover {
  color: #ff0036;
  text-decoration: none !important;
  text-transform: uppercase;
}

.protfolio_img {
  width: 100%;
  height: 100%;
  max-height: auto;
  //border: 2px solid red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.protfolio_img > img {
  //object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  margin: 0px;
  display: block;
}

.protfolio_img > div > a {
  display: block;
  position: relative;
  max-width: 100%;
}

.protfolio_img > div > a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.protfolio_img > div > a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(icon-path);
  opacity: 0;
}

.protfolio_img > div > a:hover:before,
.protfolio_img > div > a:hover:after {
  opacity: 1;
}

.right_img_copy {
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
  position: absolute;
  left: 910px;
  top: 1004px;
  width: 375px;
  height: 324px;
  z-index: 835;
}
/* .our-product_block */
.our-product_block {
  margin-top: 30px;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Shadows Into Light", cursive;
  color: black;
}
.our-product_block > div {
  //border: 2px solid green;
}

.our-product-subblock {
  width: 99%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-product-subblock > .advantages {
  width: 20%;
  height: 80%;
  //border: 1px solid red;
}

.advantages > .advantages_item {
  width: 100%;
  height: 40px;
  border: 1px solid rgb(146, 151, 137);
  display: flex;
  align-items: center;
  margin-top: 10%;
  font-size: 1.3rem;
  padding: 7% 5%;
  cursor: pointer;
}

.advantages > .left {
  justify-content: flex-end;
}

.advantages > .right {
  justify-content: flex-start;
}

.advantages > .advantages_item:hover {
  background: #ff0036;
  color: white;
}

.advantages_item > i {
  display: flex;

  align-items: center;
  height: 100%;
  margin: 0 5%;
}

.mockup {
  width: 30%;
  height: 100%;
  background-image: url(../img/ourproduct-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  //border: 2px solid #ff0036;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mockup button {
  text-transform: uppercase;
  color: white;
  background-color: #262626;
  border: none;
  width: 25%;
  height: 45px;
  margin-top: 250px;
}

.clients_block {
  margin-top: 30px;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-family: "Shadows Into Light", cursive;
  color: white;
  background-image: url(/img/clients-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;

  border: 1px solid pink;
}

.clients_subblock {
  display: flex;
}

.clients_text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clients_img {
  display: grid;
  grid-template-columns: 48% 48%;
  width: 50%;
}

.clients_img > div {
  background-color: rgb(226, 207, 226);
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.team-card {
  height: 360px;
  width: 270px;
  box-sizing: border-box;
}

.team-card_photo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 270px;
  height: 240px;
  background-color: #262626;
}

.team-card_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-card_social {
  position: relative;
  display: none;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.team-card_photo:hover .team-card_social {
  display: flex;
  /* position: absolute; */
}

.team-card:hover {
  border: 1px solid #262626;
}

.team-card_photo:hover img {
  display: none;
}

.team-card_social li {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.team-card_social li i:hover {
  color: #ff0036;
}

.team-card_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 34px;
  border: 1px solid #e7e7e7;
}

.team-card_text h4 {
  color: #262626;

  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.team-card_text p {
  color: #505050;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.block_skills {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.skills_item {
  max-width: 151px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 151px;
  width: 150px;
  box-sizing: border-box;
  flex-direction: column;
}

.progress-descr {
  font-size: 1rem;
  text-align: center;
}
.progress-descr h5 {
  text-transform: uppercase;
}
.circle-big {
  position: relative;
  width: 114px;
  height: 114px;
  margin: 30px 25px;
}

.circle-big svg {
  width: 114px;
  height: 114px;
}

.circle-big .bg {
  fill: none;
  stroke-width: 5px;
  stroke: #e4e4e4;
}

.circle-big .progress {
  fill: none;
  stroke-width: 5px;
  stroke: url(#linear-gradient);
  stroke-linecap: round;
  /* stroke-dasharray: 326.56;
  stroke-dashoffset: 60; */
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: prog-anim 5s ease-in-out;
}

.p90 {
  stroke-dasharray: 326.56;
  stroke-dashoffset: 60;
}
.p80 {
  stroke-dasharray: 326.56;
  stroke-dashoffset: 80;
}
.p70 {
  stroke-dasharray: 326.56;
  stroke-dashoffset: 100;
}

.circle-big .text {
  position: absolute;
  width: 100%;
  top: 37px;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  line-height: 22px;
}

.circle-big .text .small {
  font-size: 14px;
  color: #fff;
}

@keyframes prog-anim {
  from {
    stroke-dashoffset: 326.56;
  }
  to {
    stroke-dashoffset: 60;
  }
}

// services

.services {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;

  &_item {
    max-width: 570px;
    width: 100%;

    &:hover {
      & .services_item_description {
        background-color: #3d2329;
      }
      & i {
        background-color: #ff0036;
      }
    }

    &_title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      text-transform: uppercase;
      padding: 10px;

      & i {
        font-size: 1.5rem;
        background-color: #a4a4a4;
        color: black;
        width: 65px;
        height: 60px;
        margin-right: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: polygon(80% 0, 100% 50%, 80% 100%, 20% 100%, 0 50%, 20% 0);
      }
    }
    &_description {
      padding: 25px 35px;
    }
  }
}

.sellers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
  &-item {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #262626;
    color: #fff;
    margin-bottom: 45px;
    & h6 {
      text-transform: uppercase;
      margin: 5px;
    }
    & ul {
      display: block;
      width: 270px;
      padding: 0px;
      margin: 0px;
      & .price {
        text-align: center;
        height: 90px;
        background-color: #f2f2f2;
        color: #000;
        font-size: 2.3rem;
        & span {
          font-size: 0.7rem;
        }
      }
    }
    & li {
      box-sizing: border-box;
      padding: 12px;
      text-align: center;
      width: 270px;
      height: 50px;
      border-bottom: 1px solid white;
      list-style: none;
      background-color: #262626;
      margin: 0px;
      & button {
        background-color: #262626; 
        border: none;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 100%;
      }
    }
    &:hover button {
      background-color: #ff0036;
    }
    &:hover .price {
      background-color: #ff0036;
      color: white;
      border: none;
    }
  }
}


//blog

.blog-carts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-item {
    max-width: 978px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 45px;
    & img {
      width: 375px;
      height: 200px;
      object-fit: cover;
  }
    &_text {
      padding-left: 30px;
    }
    & ul {
      display: flex;
      justify-content: start;
      align-items: center;
      list-style: none;
      padding: 0;
      
      & li {
        display: flex;
        align-items: center;
        margin-right: 20px;
        font-size: 0.6rem;
        color: #a2a2a2;
        & span {
          font-size: 1rem;
          margin-right: 5px;
          color: black;
        }
        
      }
    }
    & button {
      width: 120px;
      height: 38px;
      background-color: #262626;
      color: white;
      border: none;
      text-transform: uppercase;
      &:hover {
        background-color: #ff0036;
      }
    }
  }
  .show-more {
    background-color: #fff;
    border-radius: 50%;
    border: none;
    width: 45px;
    height: 45px;
    
  }
  
}

//follow

.follow {
  position: relative;
  background-color: rgba(22, 22, 22, .9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 95px 0 90px;
  
  &_social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 45px;
    max-width: 450px;
    width: 100%;
    &-item {
      width: 75px;
      
      text-align: center;
      & .social-link {
        width: 75px;
        height: 75px;
        background-color: #ff0036;
        clip-path: polygon(80% 0, 100% 50%, 80% 100%, 20% 100%, 0 50%, 20% 0);
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        & i, a {
          color: white;
          padding: 0;
          margin: 0;
        }
        & a {
          display: flex;
        }
      }
    }
  }
  
}

.footer {
  display: flex;
  align-items: center;
  height: 80px;
  & h2, p {
    text-align: end;
    margin: 0;
    width: 100%;
    padding-right: 40px;
  }
  

}


//toggle menu

@media (max-width: 1120px) { 
.toggle-menu{
  display: block;
}

  header svg {
    display: none;
  }
  nav {
    height: 60px;
    width: 100%;
    display: none;
    
  }
  .nav {
    position: absolute;
    flex-direction: row;
    right: 0;
    display: none;
    
    & li{
      
      width: 100%;
      background-color: #0c0c16;
      border: 1px solid #121119;
      padding: 0 50px;
      & a:hover {
        
        &:after, &:before {
          width: 100%;
        }
      }
    }
  }
 }

 .show {
   display: flex;
 }